doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/owl.theme.default.min.css')
    link(href='https://fonts.googleapis.com/css?family=Oswald&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-js.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block javascript
      script(src='/javascripts/jquery.min.js')
      // Owl Carousel
      script(src='/javascripts/owl.carousel.min.js')
      script(src='/javascripts/poper.js')
      script(src='/javascripts/bootsrap.js')
      script(src='/javascripts/slideout.min.js')
      script(src='/javascripts/headhesive.min.js')
      script(src='/javascripts/paralaks.min.js')
      script(src='/javascripts/particles.min.js')
      script(src='/javascripts/script.js')
